[submodule "build/site"]
	path = build/site
	url = https://github.com/kunguyenqt/dmoj-site.git
[submodule "build/judge"]
	path = build/judge
	url = https://github.com/kunguyenqt/dmoj-judge.git
[submodule "data/site"]
	path = data/site
	url = https://github.com/kunguyenqt/iSOJ.git
